# =======================================
# IntelliJ IDEA / JetBrains
# =======================================
.idea/
*.iml
out/

# =======================================
# Build & Compiled Files
# =======================================
target/
build/
*.class
*.jar
*.war
*.ear

# =======================================
# Logs e temporários
# =======================================
*.log
*.tmp
*.bak
*.swp
*.DS_Store

# =======================================
# Sistema operacional
# =======================================
Thumbs.db
ehthumbs.db
desktop.ini


